<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles.css" media="all">
        <title>Contact Created</title>
    </head>
    <body>
        <div class="container">
            <h3>Contact Created!</h3>
            <h5>You successfully added: </h5>
            <div class="row">
                <div class="col-xs-4">
                    <h6>{{ new_contact.getFirstName }} {{ new_contact.getMiddleName }} {{ new_contact.getLastName }}</h6>
                    <h6>{{ new_contact.getPhone }}</h6>
                    <h6>{{ new_contact.getEmail }}</h6>
                    <h6>{{ new_contact.getStreet }}, {{ new_contact.getCity }}, {{ new_contact.getState }},  {{ new_contact.getZip }}</h6>
                </div>
                <div class="col-xs-5">
                    <img src="{{ new_contact.getImage}}" alt="{{ new_contact.getFirstName}} {{ new_contact.getLastName }}" />
                </div>
            </div>
            <a href="/"><button type="button" name="button" class="btn btn-primary">Home</button></a>
        </div>
    </body>
</html>
